.advantages__item {
  height: 92px;
  margin-bottom: 38px;
  text-align: start;
}

.advantages__item--hosing {
  width: 210px;
}

.advantages__item--hosing::after {
  background-image: url("img/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages__list {
  .reset-lists();
  padding-left: 69px;
  padding-right: 41px;
}

.advantages__title {
  .font-bold();
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .advantages__item {
    width: 155px;
    height: 100px;
    margin-bottom: 60px;
    padding-top: 164px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    width: 155px;
    height: 100px;
  }
}
