.advantages {
  margin-bottom: 66px;
}

.advantages__item {
  margin-bottom: 42px;
  text-align: start;
}

.advantages__item--hosing::after {
  background-image: url("img/icon-house.svg");
  background-repeat: no-repeat;
}

.advantages__list {
  .reset-lists;
  padding-left: 69px;
  padding-right: 41px;
}

.advantages__title {
  .font-bold;
  margin-top: 35px;
}

@media (min-width: @tablet-width) {
  .advantages {
    max-height: 330px;
  }

  .advantages__list {
    display: flex;
    margin-bottom: 66px;
  }

  .advantages__item {
    width: 256px;
    padding: 164px 46px 0 50px;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    .reset-lists;
    margin-bottom: 87px;
  }

  .advantages__item {
    width: 400px;
    box-sizing: border-box;
    padding: 164px 75px 0 67px;
  }
}
