.btn {
  .font-super;
  background-color: @bg-darkblue;
  color: @white;
  display: inline-block;
  margin: 0;
  padding: 17px 47px 19px 47px;
  text-decoration: none;
  border: none;
}

.btn__form {
  margin: auto;
  margin-top: 51px;
}

@media (min-width: @tablet-width) {
  .btn {
    min-width: 458px;
    box-sizing: border-box;
  }

  .btn__form {
    width: 50%;
    margin: 0;
  }
}
