.form__title {
  .font-bold();
  padding: 0;
  margin: 0;
  text-align: center;
}

.form__group {
  padding: 24px 20px 28px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: none;
  text-align: start;
  border-bottom: 1px solid @bg-grey;
}

.form__text {
  height: 58px;
  background-color: @bg-lightgrey;
  border: none;
  margin-bottom: 20px;
}

.form__group input::placeholder {
  .font-bold();
  text-transform: none;
  padding-left: 22px;
  color: @black;
}

.form__text--name {
  width: 230px;
}

.form__text--surname {
  width: 192px;
}

.form__text--middle {
  width: 194px;
}

.form__label {
  color: @darkgrey;
  padding-left: 42px;
}

.form__text--tel {
  width: 280px;
}

.form__text--tel::before {
  background-image: url("img/icon-phone.svg");
  background-color: @bg-darkgrey;
}

.form__text--mail {
  width: 280px;
}

.form__radio-label {
  padding-left: 78px;
  .font-bold();
  text-transform: none;
}

.form__checkbox-label {
  text-transform: none;
  padding-left: 99px;
}

.form__textarea {
  background-color: @bg-lightgrey;
  border: none;
  width: 279px;
  height: 160px;
}
