
.form {
  margin: 0 auto 47px;
  position: relative;
}

.form__legend {
  .font-bold;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 47px;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__container--input {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form__group {
  .font-bold;
  .reset;
  text-align: center;
  margin: 25px auto;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid @bg-grey;
}

.form__text {
  position: relative;
  padding: 19px;
  padding-right: 0;
  background-color: @bg-lightgrey;
  border: none;
}

.form__group input::placeholder,
.form__group--textarea::placeholder {
  .font-bold;
  text-transform: none;
  padding-left: 22px;
  color: @black;
}

.form__label {
  .font-main;
  color: @darkgrey;
  width: auto;
  margin: 14px 0;
}

.form__radio-label {
  position: relative;
  padding-left: 78px;
  .font-bold;
  text-transform: none;
  margin-right: 17px;
  background-repeat: no-repeat;
}

.form__checkbox-label {
  position: relative;
  text-transform: none;
  padding-left: 79px;
  margin-bottom: 65px;
}

// #bridge: checked ~ .form__container--four {
//   background-color: @darkgrey;
// }

.form__text::placeholder {
  .font-bold;
}

.form__textarea::placeholder {
  .font-bold;
  padding-left: 21px;
}

.form__label--tel,
.form__label--mail {
  position: relative;
}

.form__label--tel::before,
.form__label--mail::before {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: @bg-darkgrey;
  top: 38px;
  right: 0;
  display: inline-block;
  z-index: 1;
}

.form__checkbox-label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: @bg-darkgrey;
  top: -12px;
  left: 0;
  border-radius: 10%;
  display: inline-block;
  z-index: 1;
}


.form__label::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  z-index: 10;
}

.form__label--tel::after {
  background-image: url("../img/icon-phone.svg");
}

.form__label--mail::after {
  background-image: url("../img/icon-mail.svg");
}

.form__radio-label::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 10;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: inline-block;
  background-color: @bg-darkgrey;
}

.form__textarea {
  background-color: @bg-lightgrey;
  border: none;
  width: 100%;
  padding: 0;
}

.form__description {
  display: none;
}

.form__group--five,
.form__group--textarea {
  border-bottom: none;
}

// Планшет
@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__group {
    display: block;
    box-sizing: border-box;
    border: none;
  }

  .form::before {
    content: "";
    position: absolute;
    top: 90px;
    right: 50%;
    width: 1px;
    height: 292px;
    display: inline-block;
    background-color: @grey;
  }

  .form__group--four::before,
  .form__group--textarea::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 100px;
    height: 1px;
    background-color: #323232;
  }

  .form__group--four::after,
  .form__group--textarea::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 100px;
    height: 1px;
    background-color: #323232;
  }

  .form__group--one {
    order: 2;
    margin-left: 58px;
    margin-bottom: 73px;
  }

  .form__group--two {
    order: 3;
    width: 100%;
    flex-direction: row;
  }

  .form__text--tel,
  .form__text--mail {
    width: auto;
  }

  .form__group--three {
    position: relative;
    order: 1;
  }

  .form__radio-label {
    margin-bottom: 61px;
    margin-right: 30px;
  }

  .form__group--four {
    position: relative;
    order: 4;
    margin-bottom: 58px;
    width: 100%;
  }

  .form__container--four {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__checkbox-label {
    .reset;
    width: auto;
    padding-left: 100px;
    margin: auto;
    margin-right: 70px;
    margin-bottom: 73px;
  }

  .form__group--four .form__title {
    width: 278px;
  }

  .form__group--textarea {
    order: 5;
    width: 100%;

    position: relative;
    margin-bottom: 58px;
  }

  .form__group--five {
    .reset;
    width: 100%;
    order: 6;
    display: flex;
    justify-content: space-between;
  }

  .form__description {
    display: block;
    .font-main;
  }

  .form__legend {
    margin-bottom: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 1200px;
  }

  .form__group {
    margin-left: auto;
    margin-right: auto;
  }

  .form__container {
    display: flex;
    width: 100%;
  }

  .form__label {
    margin-right: 16px;
  }

  .form__group--four,
  .form__group--textarea {
    width: 100%;
  }

  .form__group--two {
    justify-content: space-between;
  }

  .form__group--four .form__checkbox-label {
    padding-left: 60px;
    margin-right: 73px;
  }

  .form__text--tel,
  .form__text--mail {
    margin-right: 19px;
  }
}
