.wrapper-gallery {
  margin-left: auto;
  margin-right: auto;
}

.gallery__promotion {
  margin: 33px 24px 33px 27px;
  padding: 0;
}

.gallery__item-title {
  font-weight: 700;
  text-align: start;
  padding-left: 22px;
}

.gallery__item {
  margin: 0;
  position: relative;
  padding: 22px 0;
}

.gallery__item p,
.gallery__item span {
  text-align: start;
  padding-left: 22px;
}

.gallery__promotion-description {
  margin: 0;
  padding: 0;
  text-transform: none;
}

.gallery__item::after {
  content: "";
  top: 400px;
  left: -20px;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: @bg-grey;
}

.gallery__video {
  margin-bottom: 49px;
}
