
.gallery__promotion {
  width: 269px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 51px;
  position: relative;
  margin-bottom: 76px;
}

.gallery__item-title {
  text-align: start;
  font-weight: 700;
  padding-left: 20px;
}

.gallery__item {
  margin: 0;
  position: relative;
}

.gallery__item p,
.gallery__item span {
  margin: 0;
  padding: 0;
  text-align: start;
  padding-left: 20px;
}

.gallery__promotion-description {
  .reset-p;
}

.gallery__item::after {
  content: "";
  top: 350px;
  left: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: @bg-grey;
}

.gallery__promotion::after {
  content: "";
  top: 124px;
  left: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: @bg-grey;
}

.gallery__photo {
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: @tablet-width) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__promotion {
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery__promotion-description {
    .reset-p;
  }

  .gallery__promotion h2 {
    .font-superbold;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    background-color: @bg-lightgrey;
    padding: 0;
  }

  .galery__picture--sunset {
    width: 648px;
    max-height: 400px;
  }

  .galery__photo {
    width: 100%;
    object-fit: contain;
  }

  .gallery__item:nth-child(3) {
    background-color: @whitegrey;
  }

  .gallery__item span {
    align-self: flex-end;
    margin-right: 21px;
  }

  .gallery__item::after,
  .gallery__promotion::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .galery {
    box-sizing: border-box;
  }

  .gallery__item {
    width: 50%;
    height: 267px;
  }

  .gallery__item--sunset {
    width: 1200px;
    height: 400px;
  }

  .gallery__picture {
    width: 100%;
  }

  .galery__photo {
    object-fit: cover;
  }
}
