.hotels__description {
  .font-main;
  margin-bottom: 40px;
  min-width: 260px;
  padding: 0 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hotels__title {
  .font-super();
}

.hotels-promotion {
  margin-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .hotels {
    padding: 47px 17px;
  }

  .hotels__description {
    padding: 0;
    text-align: center;
    width: 434px;
  }
}

@media (min-width: @desktop-width) {
  .hotels {
    padding: 12px 36px;
  }
}
