.wrapper {
  padding: 20px 41px;
}

.page-main {
  .font-main();
  text-align: center;
  color: @darkgrey;
}

.wellcome-to-sedona {
  min-height: 149px;
  margin-top: 43px;
  margin-left: 32px;
  margin-right: 33px;
  margin-bottom: 29px;
}

.town,
.promotion-title,
.advantages__title {
  .font-bold();
  margin-top: 35px;
}

.promotion__item {
  .font-bold();
  background-color: @bg-darkblue;
  color: @white;
}

.promotion__item--description {
  padding: 0 27px 0 28px;
}

.promotion__title {
  .font-bold();
  padding-bottom: 0;
}

.promotion__item--one {
  .font-main;
  height: 125px;
  padding-top: 31px;
  padding-bottom: 45px;
}

.promotion__item--two {
  padding: 45px 0 42px 0;
  height: 104px;
  margin-bottom: 45px;
}

.advantages__list {
  .reset-lists();
  padding-left: 69px;
  padding-right: 41px;
}

.wellcome {
  min-height: 471px;
  margin-bottom: 29px;
}

.wellcome__town--description {
  padding: 12px 32px;
  padding-bottom: 0;
}

.promotion-sedona {
  background-color: @lightgrey;
}

.btn {
  .font-super;
  background-color: @bg-darkblue;
  color: @white;
  width: 280px;
  height: 58px;
  padding: 17px 47px 19px;
  text-decoration: none;
  border: none;
}

.hotel {
  margin-bottom: 40px;
  width: 260px;
  height: 107px;
  padding: 0 30px;
  text-align: center;
}

.promotion-town {
  padding-bottom: 49px;
}

.hotel__title {
  .font-super();
}

.hotel__promotion {
  margin: 33px 30px;
}

.advantages__item {
  height: 92px;
  margin-bottom: 38px;
  text-align: start;
}

.advantages__item--hosing {
  width: 210px;
}

.advantages__item--hosing::after {
  background-image: url("img/icon-house.svg");
}

.map {
  margin-bottom: 29px;
}
