
.page-header__logo-link {
  padding-left: 110px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.page-header__logo {
  background-color: @bg-darkblue;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../bg-back-mobile@1x.jpg");
  min-height: 389px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 100% 100%, 50% 50%, 0 0;
  background-size: 100%, 100%, 100%, cover;
}

.page-header__logo--big {
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  min-height: 389px;
  background-position: 100% 100%, 50% 50%, 0 0;
  background-size: 100%, 100%, 100%, cover;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    background-color: @bg-darkblue;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 100%, 50% 50%, 0 0;
    background-size: 100%, 50%, 100%, cover;
  }

  .page-header__logo-big {
    background-color: @bg-darkblue;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 100% 100%, 50% 50%, 0 0;
    background-size: 100%, 50%, 100%, cover;
  }
}
