.page-footer {
  padding-top: 41px;
}

.page-footer__visit-sedona {
  .font-super;
  height: 16px;
  text-align: center;
  margin-bottom: 41px;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.page-footer__copyright-icon {
  width: 27px;
  height: 34px;
}

.page-footer__copyright-description {
  .reset;
  .font-main__bold;
}

.page-footer__copyright--html {
  margin-left: 10px;
  fill: @black;
}

.page-footer__copyright--html:hover {
  fill: @bg-darkblue;
}

.page-footer__copyright--html:active {
  fill: @black-light;
}

@media (min-width: @tablet-width) {
  .page-footer {
    background-color: @white;
    display: flex;
    justify-content: space-between;
    padding: 41px 36px 0;
  }

  .page-footer__visit-sedona {
    display: block;
  }

  @media (min-width: @desktop-width) {
    .reset;
  }
}
