
.main-nav__wrapper {
  width: 320px;
  min-height: 445px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 56px;
}

.main-nav {
  background-color: @bg-darkblue;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  .reset-lists();
}

.feedback-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 23px;
  width: 22px;
}

.main-nav__item {
  height: 35px;
  box-shadow: @box-shadow;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(215, 215, 215, 0.4);
}

.main-nav__link {
  .font-bolder();
  color: @white;
}

.page-header__logo {
  padding-left: 110px;
  padding-bottom: 56px;
}
