.promotion {
  background-color: @lightgrey;
}

.promotion__title {
  .font-bold();
  margin: 0;
}

.promotion__item {

  text-align: center;
  .font-bold();
  position: relative;
  padding: 61px 27px 45px 28px;
  background-color: @bg-darkblue;
  color: @white;
}

.promotion__item--one {
  .font-main;
}

.promotion__item--description {
  padding: 0;
  margin: 0;
}

.promotion__item--one::before {
  contain: "";
  top: -25px;
  left: 0;
  background-image: url("../img/bg-triangle.svg");
}

.promotion__item--two {
  .font-main;
  padding: 30px 45px 31px 42px;
}

.promotion__sedona-photo {
  display: block;
  height: 260px;
  width: 100%;
  text-align: center;
  object-fit: cover;
}

@media (min-width: @tablet-width) {
  .promotion {
    display: flex;
  }

  .promotion__two {
    display: flex;
    flex-direction: row-reverse;
  }

  .promotion__item--one {
    background-image: none;
  }

  .promotion__item {
    width: 256px;
  }

  .promotion__picture {
    max-width: 512px;
  }
}

@media (min-width: @desktop-width) {
  .promotion__item {
    width: 400px;
  }

  .promotion__picture {
    width: 800px;
  }
}
