.promotion {
  background-color: @lightgrey;
}

.promotion h3 {
  .font-bold();
  margin: 0;
}

.promotion__item {
  text-align: center;
  .font-bold();
  position: relative;
  padding: 61px 27px 45px 28px;
  background-color: @bg-darkblue;
  color: @white;
}

.promotion__item--one {
  .font-main;
}

.promotion__item--description {
  padding: 0;
  margin: 0;
}

.promotion__item--one::before {
  contain: "";
  top: -25px;
  left: 0;
  background-image: url("../img/bg-triangle.svg");
}

.promotion__item--two {
  .font-main;
  padding: 30px 45px 31px 42px;
}

.promotion__picture {
  height: 256px;
}

.promotion__photo {
  display: block;
  width: 100%;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .promotion {
    display: flex;
    max-height: 256px;
  }

  .promotion__two {
    display: flex;
    flex-direction: row-reverse;
  }

  .promotion__item {
    padding: 46px 47px 49px 47px;
    width: 33.333%;
  }

  .promotion__picture {
    height: 256px;
    width: 66.666%;
  }

  .promotion__photo {
    width: 95%;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {
  .promotion__picture {
    height: 256px;
    width: 66.666%;
  }

  .promotion__photo {
    width: 100%;
    object-fit: cover;
  }
}
