
.sedona-promotion {
  background-color: @lightgrey;
  padding-top: 33px;
  margin: auto;
  margin-top: 0;
}

.sedona-promotion__town {
  position: relative;
  margin: 0 41px 33px;
  border-bottom: 1px solid @bg-grey;
}


@media (min-width: @tablet-width) {
  .sedona-promotion {
    display: flex;
    justify-content: space-between;
  }

  .sedona-promotion__town {
    width: 33%;
    border: none;
  }
}
