
.sedona-promotion {
  background-color: @lightgrey;
  padding-top: 33px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 33px;
}

.sedona-promotion__town {
  position: relative;
  padding: 0 41px 33px;
  box-sizing: border-box;
  border-bottom: 1px solid @bg-grey;
}


@media (min-width: @tablet-width) {
  .sedona-promotion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
  }

  .sedona-promotion__town {
    width: 33.333%;
    border: none;
    padding: 50px 58px 70px 57px;
  }

  .sedona-promotion__title {
    .font-super;
    text-align: center;
    padding: 0 70px;
    box-sizing: border-box;
  }
}

@media (min-width: @desktop-width) {
  .sedona-promotion {
    padding-top: 0;
  }

  .sedona-promotion__town {
    padding: 20px 0 49px 109px;
  }
}
