@bg-darkblue: #81b3d2;
@tablet-width: 768px;
@desktop-width: 1200px;
@white: #ffffff;
@black: #000000;
@bg-grey: rgba(178, 178, 178, 0.3);
@box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
@darkgrey: #333333;
@lightgrey: #d8d8d8;
@bg-lightgrey: #f2f2f2;
@bg-darkgrey: #e6e6e6;

.reset-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.font-main {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.font-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.font-bolder {
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.font-super {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
