@media (min-width: @desktop-width) {
  .wrapper {
    max-width: 1200px;
    background-color: @bg-lightgrey;
    box-shadow: 0 5px 15px 0 @bg-blackgrey;
    margin-left: auto;
    margin-right: auto;
  }
}
